@import "../../../ds-tokens/build/web/globals-tokens.scss";
@import "../../../ds-tokens/build/web/MARCA-tokens.scss";

.my-element{
    background-color: $color-brand-primary-pure;
    color: white;
    padding: 40px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}